<div class="container center_div pt-5">
    <form #usersForm="ngForm" (ngSubmit)="getDataFromForm(usersForm.value)">
        <div>
            <label for="name" class="form-label">Full Name:</label><br />
            <input class="form-control" ngModel type="text" id="name" name="name"
                placeholder="Enter Your Full Name" /><br />
        </div>
        <div>
            <label for="formFile" class="form-label">Choose Profile Photo</label><br />
            <input class="form-control" (change)="onSelectFile($event)" type="file" id="formFile"><br /><br />
        </div>
        <input class="form-control" ngModel type="submit" value="Submit" /><br /><br />
    </form>
</div>